@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  margin: 0;
  height: 100%;
}

.main-container{
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

/*HEADER*/

.hero-page {
  background-color: #ffffff;
  color: #333333;
  background-position: center;
  padding: 0 70px;
  align-items: center
}

a.logo{
display: block;
margin-bottom: -8px;
position: relative;

}

/*Навигация*/

.navigation{
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:1060px
  }

  .navigation-link-active::before{
   content:"";
   position: absolute;
   width:68px;
   height:2px;
   color:#756257;
  }

.navigation-list{
display:flex;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
width:580px

}

.navigation-user{
  display: flex;
  list-style:none;
  margin-left: auto;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  padding-left:70px;
  justify-content: end;
  }

.navigation-link{
  display:block;
  padding: 20px 16px;
  position:relative
}

.link-user{
  display:block;
  padding: 22px 12px;
  width:20px;
  height:20px;
}

.twelve{
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  top: 11px;
  padding: 4px 5px;
  background-color: #7db54f;
  border-radius: 50%;
  right: 4px;
  color: #fff;
}

/*
.link-search
.link-favorite{
  width:44px;
  height:64px;
}
/*


/*Приветственная страница с фоном*/

.page-welcome {
  padding-top: 5px;
  min-height: 485px;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  background-color:#2d658a;
  background-position: bottom;


}

/*Преимущества*/

.advanages-container{
 padding:69px 290px
}

.advanteges-head {
  font-family: "PT Sans";
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin:0
}

.advantages-reasons {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width:700px

}

.advanteges-list{
  margin:0;
  padding-left:0;
  display:flex;
  flex-wrap: wrap;
  }


.advanteges-item {
  color:#333333;
  background-color:rgba(131, 179, 211, 0.12);
  width:400px;
  height: 385px;
  text-align:center;
  list-style: none;

}

.advanteges-even{
  background-color:rgba(131, 179, 211, 0.20);
}

.city-sedona{
  width:400px
}

.advanteges-description {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #333333;
  padding-top: 112px;
  padding-bottom: 30px;
  padding-left: 112px;
  padding-right: 112px;
  width: 175px;
  margin: 0;

}

.advanteges-description-text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-top: 30px;
  padding-bottom: 112px;
  padding-left:85px;
  padding-right:85px;
}

.advanteges-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 102px;
  padding-right: 112px;
  padding-left: 112px;
  padding-bottom: 30px;
  margin:0
}

.advanteges-text::before{
  content:"";
  position:absolute;
  background-image: url("/images/line-city.svg");
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.30);
  display: inline-block;
  width:60px;
  height:2px;
  background-position: center;

}


.advanteges-text{
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  padding: 30px 85px;
}

.photo-bridge{
  width: 400px;
  height: 385px
}

.advantages-bridge-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 102px;
  padding-right: 112px;
  padding-left: 112px;
  text-align: center;
  margin-bottom: 30px;
}

.advantages-bridge-text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 102px;
  padding-left: 85px;
  padding-right: 85px;

}

.advanteges-item{
 text-align: center;
}

.advanteges-item-city {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  text-align: center;
}

.advanteges-item-bridge {
  background-color: #82b3d3;
  color: #ffffff;
  display:flex;

}

/*Сервис*/

.service-container{
  padding: 64px 348px;
}

.services-list{
  display: flex;
  text-align: center;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  min-height: 385px;


}

.services-item{
  width:400px;
  padding-top: 81px;


   }

.services-item::before{
  content:"";
  position:absolute;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-50%);

}

.service-house::before{
  background-image: url("../images/house-icon.svg");
  width: 75px;
  height: 72px;
}

.service-food::before{
  background-image: url("../images/food-icon.svg");
  width: 75px;
  height: 72px;
}

.service-souvenirs::before{
  background-image: url("../images/souvenirs-icon.svg");
  width: 75px;
  height: 72px;
  background-size: contain;
}


.services-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #333333
}

.main-services {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333
}

.services-description {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #333333;
  margin-top:102px
}

.services-text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding:0 85px;
  margin-top:30px
}




.services-list li:nth-child(1){
background-color:#83b3d333;


}
.services-list li:nth-child(2){
background-color:#ffffff
}

.services-list li:nth-child(3){
background-color:#83b3d333
}

.searching-hotel {
  text-align: center;
}

.question {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
  margin:0
}

.catalog-newsletter{
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
}

.date {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.mail-catalog{
  text-align: center;
  padding-top:96px;
  padding-right:258px;
  padding-bottom: 104px;
  padding-left: 258px;
  max-height:415px
}

.form-catalog-email{
  display:flex;
  justify-content:center
}

.your-mail-catalog{
 font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: left;
}

.form-catalog-emai,
.your-mail-catalog{
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 452px;
  min-height: 52px;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  border:none
}
.section-text{
  margin: 0 auto;
  padding-bottom: 54px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.button-seacrch-hotel {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  height: 52px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  margin-top: 50px;
}

.information-newslatter{
  margin:0 auto;
  padding-bottom:54px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

  .interes{
    text-align: center;
    padding: 96px 304px
  }


/*ФОРМА*/

.subscribe-to-newsletter {
  background-image: url("../images/subscribe.jpg");
  background-color:#6d8ca0;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 96px;
  margin-top:0;
  text-align:center;
  min-height: 415px;}

.title-newslatter {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom:20px;
  margin-top:0
}

  .newsletter{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color:#ffffff
  }

  .information{
  font-size: 22x;
  line-height: 26px;
  }



.form-email{
  display:flex;
  justify-content: center;
}

.your-mail{
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: left;
}

.form-emai,
.your-mail{
 background-color: #f2f2f2;
  box-sizing: border-box;
  width: 452px;
  min-height: 52px;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  border:none
}

.subscribe-button {
  font-family: "PT Sans";
  text-align: center;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  height: 52px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
  border-radius:0 4px 4px 0;
  border: none
}

.inner-header-title{
font-size: 60px;
line-height: 78px;
margin-bottom: 8px;
width:495px;
height:78px;

}

.breadcrumbs{
  display: flex;
  list-style: none;
  gap:10px;
  margin-bottom: 40px;
  padding:0;
}

.breadcrumbs-iterm{
  display: flex;
  align-items: center;
}

.breadcrumbs-hotel::before{
  content:"";
  width:7px;
  height:10px;
  background-image: url("../images/arrow.svg");
  padding-right: 10px;
  background-repeat: no-repeat;

}


.breadcrumbs-link-main{
background-image: url("../images/home.svg");
width: 12px;
height: 12px;
background-repeat: no-repeat;
display: block;
margin-top: 3px;
background-size: contain;

}

.control-check{
  width:20px;
  height:20px;
  border-radius:4px;
  background-color: #ffffff;
  border:none

}

.catalog-filters{
  display: flex;
  margin-top: 0;
}

.catalog-filer-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

}

.infrastructyre-filter{
  margin-inline: 0;
  margin-right: 70px;
  width: 150px;
  border: none;
  padding-left:0
}

.infrastructyre-item{
  margin-bottom: 16px;
  padding-left: 0;
}

.infrastructyre-list{
list-style: none;
padding:0;
width:112px;
}

.housing-filter{
  margin-right: 70px;
  width: 150px;
  height: 157px;
  border: none;
  margin-inline:0;
  padding-inline: 0;


}

.housing-list{
  list-style: none;
  padding:0;
  width:150px;
}

.housing-item{
   margin-bottom: 16px;
   padding-left: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px

}

.price-filter{
  display: flex;
  border:none;
  margin-left:110px;
  padding-block: 0;
  padding-inline: 0;
  gap:2px
}

.filter-container{
  display:flex;
  gap:2px
}



input[value="0"],
input[value="9000"] {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width:143px;
  height:48px;
  text-align: left;
  border:none;
  padding: 12px 20px;
  box-sizing: border-box;

}

input[value="0"] {
border-radius: 4px 0 0 4px;
}

input[value="9000"] {
border-radius: 0 4px 4px 0;
}

.submit-reset-filter{
  margin-left:70px;

}

.header-inner {
  color: #ffffff;
  background-color: #615048;
  background-image: url("../images/inner-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 307px;
  padding:35px 70px 70px 70px;
  width: 1060px;

}



.name-hotels{
  padding-right:70px;
  padding-left:70px
}

  .button-submit{
  background-color:#82b3d3;
  color:#ffffff;
  text-transform: uppercase;
  width:191px;
  height:36px;
  font-size:16px;
  line-height:20px;
  font-weight: 700;
  border-radius: 4px;
  margin-top: 56px;
  border:none
  }

.button-reset{
  width: 191px;
  margin-top: 32px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  color:#ffffff;
  border: none;
  font-weight: 700;
}

.button-want {
  font-family: "PT Sans";
  text-align: center;
  width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  display: block;
  margin: 0;
  align-content: center;
  min-height: 36px;
  margin-left:20px

}

.button-brown {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 36px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  align-content: center;
}

.button-blue {
  font-family: "PT Sans";
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  display: inline-block;
}

.button-green {
  font-family: "PT Sans";
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 36px;
  text-transform: uppercase;
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  display: inline-block;
}


a {
  color: inherit;
  text-decoration: none
}

.sorting{
  display:flex;
  align-items:center;
  justify-content: space-between;
  width:1060px;
  margin-top:50px;
  margin-bottom:40px
}

.found-hotels{
  text-transform: uppercase;
  font-size:30px;
  line-height: 36px;
  width: 380px;
}

.select-control{
  width:292px;
  height:49px;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  margin-left: 70px;
}


.sorting-product{
  display:flex;
  list-style-type: none;
  gap:8px

}

.sort-link-table{
  display:block;
  min-width: 48px;
  min-height:48px;
  border: 2px solid black;
  border-radius: 4px;
  background-image: url("/images/table-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sort-link-card{
  display:block;
  min-width: 48px;
  min-height:48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("/images/card-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sort-link-list{
  display:block;
  min-width: 48px;
  min-height:48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("/images/list-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}


/*Карточка*/

.hotel-list{
  display:grid;
  grid-template-columns: repeat(3,340px);
  flex-wrap: wrap;
  list-style:none;
  gap:20px;
  padding-left:0


}

.hotel-card{
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap:16px 20px;
  padding:20px;
  grid-template-rows: auto min-content min-content min-content min-content;
  border: 1px solid #E6E6E6;
  border-radius: 4;
  margin-right:-2px

 }

 .hotel-card-image-link{
  display:grid;
  grid-column: 1/-1;
  margin-right:-4px;
}





.footer-container{
  display: flex;
  justify-content: space-between;
  padding-top:40px;
  padding-right:70px;
  padding-bottom: 30px;
  padding-left: 70px;

}


/* Пагинация*/

.pagination {
  display: flex;
  width: 400px;
  gap:8px;
  list-style:none;
  align-items: center;
  margin-bottom:40px;
  padding-left: 0;
  margin-top:80px
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  width: 60px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  align-items: center;
  line-height: 60px;
 }

 .pagination-current{
   display: block;
  background-color:#f2f2f2;
  text-align: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius:4px;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  line-height: 60px;

 }

.pagination-dots {
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height:36px;
}

.social-media-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom:5px;
  

}
.social-media-item{
  width:48px;
  height:40px
}
.phone-number{
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height:40px;
  color: #333333;
}

.price{
  justify-self: end
}

.hotel-name{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 12px;
    text-align: start;
  }

.grade{
  color: var(--Texts-second, #333);
  text-align: center;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background: var(--Forms-elements-2, #F2F2F2);
  width: 140px;
  height: 38px;
  align-content: center;
   }

.stars-4{
  background-image: url("../images/stars-4.svg");
  background-repeat: no-repeat;
}

.stars-3{
  background-image: url("../images/stars-3.svg");
  background-repeat: no-repeat;
}

.stars-2{
  background-image: url("../images/stars-2.svg");
  background-repeat: no-repeat;
}
